<h1>Stupid Coaching</h1>
<figure>
  <blockquote class="blockquote">
    <p><%= params[:query]%></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">You</cite>
  </figcaption>
</figure>

<figure>
  <blockquote class="blockquote">
    <p><%= @coach_response %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
  <cite title="Source Title">Your Coach</cite>
  </figcaption>
</figure>

<%= link_to "Ask a new question", "./ask" %>
